@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="hrvatskitelekom.hr/WebResources/css/htws-2018.min.css?v=1.54" />

<section class="section-main p-0">
    <div class="container-fluid">
        <div class="row i-container">

            <div class="i-child text-center">
                <div class="inner-content">
                    <h2 class="l text-regular custom-mh2">
                        Bug report
                    </h2>
                </div>
            </div>

            <div class="i-child text-center">
                <div class="inner-content">
                    <h4 class="l text-regular custom-mh2">
                        Stranica za kontrolu bugova.
                    </h4>
                </div>
            </div>

        </div>
    </div>
</section>